.layout{
    display: flex;
    width: 75%;
    justify-content: center;
}

.recipeHomepage{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    position: relative
}