.macaroni{
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

.card-deck {
    /* border: 3px solid red; */
    justify-content: center;
    display: flex;
    padding-top: 1em;
}

/* .card-deck2{
    padding-top: 3.5em;
} */


.link{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.card{
  
    border: 1px solid green;
}

.grid{
    display: flex;
    position: relative;
    margin-top: 200px;
    float: left;
    border: 1px solid red;

}

.column{
    position: relative;
    margin-top: 35px;
    margin-left: 70px;
    border: 1px solid yellow;
    text-align: center;
    width: 25%;
    
}

