.layout{
    display: flex;
    /* border: 5px solid blue; */
    width: 58%;
    justify-content: center;
}

.recipe{
    display: flex;
    margin-top: 50px;
    /* border: 2px solid red; */
    width: 100%;
    justify-content: center;
}