.row{
    display: inline-block;
    border: 1px solid blue;
    width: 80%;
    justify-content: center;
}

.recipe{
    display: inline-block;
    margin-top: 50px;
    border: 2px solid red;
    width: 100%;
    justify-content: center;
}