

.link{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.column{
    /* display: inline-block; */
    /* position: relative; */
    /* margin-top: 35px;
    margin-left: 10pxpx;*/
    margin-bottom: 75px; 
    border: 1px solid yellow;
    text-align: center;
    width: 33%;
}

.text{
    color: #f0af12;
    font-size: 24px;
    text-align: center;
    margin-right: 20px;
}

.imgClass{
    border-right: 10px solid #f0af12;
    border-bottom: 10px solid #f0af12;
    width: 65%;
}

.size{
    /* display: inline-block; */
   width: 95%;
}