

.link{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.grid{
    display: flex;
    position: relative;
    margin-top: 200px;
    float: left;
    border: 1px solid red;

}

.column{
    display: flexbox;
    position: relative;
    margin-top: 35px;
    margin-left: 0px;
    margin-bottom: 75px;
    /* border: 1px solid yellow; */
    text-align: center;
    width: 27%;
}

.text{
    color: #f0af12;
    font-size: 24px;
    text-align: right;
    margin-right: 20px;
}

.imgClass{
    border-right: 10px solid #f0af12;
    border-bottom: 10px solid #f0af12;
    height: 350px;
}
