@media screen and (max-width: 800px){
    .recipe-img{
        width: 65%;
        margin: 0 auto;
    }
}


.jumbo {
    width: 100vw;
}

.imgbanner {
    margin-bottom: -3em;
}

.img-repo {
    display: block;
    float: right;
    margin-right: 4em;
}

.serving-size {
    margin-left: 4.7em;
    color: white;
    background: #F0AF12;
    padding: 0.25em 0.7em;
    font-weight: 600;
}

.recipe-card {
    background-color: white;
    font-size: 18px;
}
.recipe-img {
    margin-left: 2em;
    margin-bottom: 1em;
    width: 25rem;
    border-right: 12px solid #F0AF12;
    border-bottom: 12px solid #F0AF12;

}

.recipe-card-content {
    margin-left: 3em;
}

.recipe-name {
    color:rgb(242, 169, 0);
    font-family: Helvetica,Arial,sans-serif;
    margin-left: 2em;
    margin-bottom: 0.5em;
    padding-top: 1em;
}

.div-instructions {
    position: relative;
    margin-top: 0.7em;
    width: 85%
}

.instructions {
    margin: 50px 0 10px 1em;
    color: #72635D;
}

.ol-instructions {
    max-width: 80%;
    padding-left: 3em;
}

.p-ctfb {
    max-width: 80%;
    padding-left: 2.5em;
    color:rgb(242, 169, 0);
    font-weight: 600;
}

.li-instructions {
    margin-bottom: 0.6em;
}

.p-noVideo {
    margin-top: 55px;
    padding-bottom: 55px;
    font-size: 40px;
    color: #72635D;
    text-align: center;
}