.jumbo {
    width: 100vw;
}

.imgbanner {
    margin-bottom: -2em;
}

.img-repo {
    display: block;
    float: right;
    margin-right: 4em;
}

.serving-size {
    margin-left: 2em;
    color: white;
    background: #F0AF12;
    padding: 0.5em 0.7em;
}

.recipe-card {
    background-color: white;
    font-size: 18px;
    
}
.recipe-img {
    margin-left: 2em;
    margin-bottom: 1em;
    width: 25rem;
    border-right: 12px solid #F0AF12;
    border-bottom: 12px solid #F0AF12;
}

.recipe-name {
    /* display: block;
    float: right; */
    color:rgb(242, 169, 0);
    font-family: Helvetica,Arial,sans-serif;
    margin-left: 0.5em;
    margin-bottom: 1em;
}


.instructions {
    margin: 125px 0 10px 1em;
    color: #72635D;
}

.ol-instructions {
    /* list-style-type: none; */
    max-width: 80%;
    padding-left: 3em
}

.li-instructions {
    margin-bottom: 0.6em;
}