.footerComponent {
    background-color: #333;
    font-weight: 600;
    position: relative;
    width: 100%;
}

.line {
    width: 101%;
}

#footer-list {
    margin-left: 100px;
}

#greenLine {
    height: 4px;
    background-color: #8bc34a;
}

#blueLine {
    height: 4px;
    background-color: #337ab7;
}

#goldLine {
    height: 4px;
    background-color:#e27429;
}

