nav {
    background-color: #333;;
}

.top_logo {
    max-width: 8.5%;
    height: auto;
    /* height: 85%; what DC added in */
    position: absolute;
    /* margin: 0 10px 0 135px; */
    margin: 0px 0 2px 150px; /*DC addition*/
    top: 0px;
}

.navdiv {
    text-shadow: black;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* margin-left: 240px; */
    margin-left: 320px;  /*DC addition*/
    padding: 3px 4px 3px 4px;
    font-size: 1em;
    letter-spacing: 0.1em;
}

ul {
    text-shadow: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* margin-left: 240px; */
    margin-left: 320px;  /*DC addition*/
    padding: 3px 4px 3px 4px;
    font-size: 16px;
    letter-spacing: 0.1em;
}

ul:hover {
    color:#337ab7;
}
